<body bgcolor="#ded3b4">  </body>

<div class="max-w-md mx-auto py-8"></div>
    <header class="text-center mb-8">
        <font color="#754a10"><h1 class="text-3xl font-bold text-gray-800">&nbsp;&nbsp;&nbsp;Admin Page</h1></font>
    </header>

    <div class="bg-white rounded-lg shadow-md p-6">

        <ul class="divide-y divide-gray-200">
            Segreto

            <br> <br> <br>
            <form action="/">
                <input type="submit" value="Torna alla home" />
            </form>
            <br> <br> <br> <br> <br> <br>

            <details open> <!-- se non lo si vuole tenere sempre aperto, basta cancellare la parola chiave "open" -->
                <summary><font color="#751d28"><b>Ruolo in possesso</b></font></summary>
                <font color="#5e4422">Debug: Ruolo: <b>{{role}}</b></font>
            </details>

        </ul>
    </div>
</div>